<h1>Posts</h1>

<% @posts.each do |post| %>
    <h2>
        <%= link_to post.title, post %>
    </h2>
    <p>
        <%= post.content.to_plain_text %>
    </p>
<% end %>

<%= link_to 'New Post', new_post_path %>