.blogForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}
input {
  width: 20em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.blogForm > * {
  display: flex;
  flex-direction: column;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.content img:nth-last-child(){
  width: 900px;
}

.content .user-info .user-name{
  margin-bottom: 10px;
  cursor: pointer;
}
.content .user-info{
  display: flex;
  align-items: start;
  gap: 5px;
}

.profile-image{
  width: 20px;
}