<div>
    <span><%= link_to "Nex Blog", root_path %></span>
    
    <div>
        <% if user_signed_in? %>
            <%= button_to 'Sign Out', signout_path, class: 'sign_out', method: :delete %>
        <% end %>
    </div>
</div>